@model IEnumerable<RegistroAlumnos.Models.Alumno>

<h2>Listado de Alumnos</h2>

<a asp-action="Create">Nuevo Alumno</a>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Nombre @item.Apellido</td>
        <td>@item.Email</td>
    </tr>
}
</table>
